{% extends 'sungsani/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if post.revised_date %}
        <span style="color: rgb(12, 80, 12);">revised: {{ post.revised_date }}</span>
        {% endif %}
        
        <h1>{{ post.title }}        <a class="btn btn-default" href="{% url 'sungsani:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}