{% extends 'sungsani/base.html' %}

{% block content %}
    <div class="post">
        {% if post.revised_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
            <span style="color: rgb(12, 80, 12);">revised: {{ post.revised_date }}</span>
        {% elif post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
        {% else %}
        <a class="btn btn-default" href="{% url 'sungsani:post_publish' pk=post.pk %}">Publish</a>
        
        {% endif %}
        
        <h1>{{ post.title }}       
            {% if user.is_authenticated %} 
                <a class="btn btn-default" href="{% url 'sungsani:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h1>
            {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
        <a class="btn btn-default" href="{% url 'sungsani:post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
{% endblock %}